// Color variables
$first-color: rgb(203, 153, 126);
$second-color: rgb(237, 220, 210);
$third-color: rgb(255, 241, 230);
$fourth-color: rgb(240, 239, 235);
$fifth-color: rgb(221, 190, 169);
$sixth-color: rgb(165, 165, 141);
$seventh-color: rgb(183, 183, 164);